html {
	background-color: white;
}

body {

	height: 100%;

}

.full{
	max-height: 100%;
	width: 100%;
	}

.hand {
	width: 100%;
	
	}

.full_height{
height: 100%;
margin: 0;
padding: 0;
}

.first {
	height: 100%;
}

.hand_text{
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
	color: #333;
	font-size: 42px;
	line-height: 1.1429;
	letter-spacing: -0.01em;
	position: absolute;
	margin: auto;
	margin-top: 50%;
	margin-left: 20%;
}

.first a:hover {
	color: silver;
}

.second {
	height: 100%;
	}

.second img {
float: right;
width: 100%;
}

.second a:hover {

	color: silver;
}


.row{
	margin: 0;
	padding: 0;
}


.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.blue{
	background-color: blue;
}
.gray{
	background-color: gray;
}

.navbar{margin-bottom: 0;}